.inputBkofc {
    display: block;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.botao {
    margin-right: 20px;
}

.botoes {
    margin-left: auto;
    width: fit-content;
}

.bck--container {
    position: relative;
    display: block;
}

.backContainer {
    margin: 10px;
}

.bkfcTitulo {
    margin: 25px 60px;
    padding-bottom: 10px;
    width: 100%;
    border-bottom: 1px solid rgba(106, 106, 107, 0.5);
}

.sidenav---sidenav---_2tBP {
    position: fixed !important;
}

.selectClass {
    width: 227px !important;
}

.addResposta {
    width: 200px;
}

.css-kmersm, [data-css-kmersm]
{
    width: auto !important;
}

.md-form .prefix.active
{
    color: #6657b0 !important;
}

.md-form input[type=text]:focus:not([readonly]), .md-form input[type=password]:focus:not([readonly]), .md-form input[type=email]:focus:not([readonly]), .md-form input[type=url]:focus:not([readonly]), .md-form input[type=time]:focus:not([readonly]), .md-form input[type=date]:focus:not([readonly]), .md-form input[type=datetime-local]:focus:not([readonly]), .md-form input[type=tel]:focus:not([readonly]), .md-form input[type=number]:focus:not([readonly]), .md-form input[type=search-md]:focus:not([readonly]), .md-form input[type=search]:focus:not([readonly]), .md-form textarea.md-textarea:focus:not([readonly])
{
     -webkit-box-shadow: 0 1px 0 0 #6657b0;
    box-shadow: 0 1px 0 0 #6657b0;
    border-bottom: 1px solid #6657b0;
}

.purple-color {
    background-color: #6657b0 !important;
    color: white;
}

.purple-text 
{
    color: #6657b0 !important;
}

.bq-purple
{
    border-left: 3px solid #6657b0 !important;
}

.btn-purple
{
    background-color: #6657b0 !important;
    color: #fff !important;
}

td {
    vertical-align: middle !important;
}

tr.clickable {
    cursor: pointer;
}

.close
{
    color: #fff !important;
}

.table-sm td, .table-sm th{
    padding-left: .75rem !important;
}

.dash-padding
{
    padding: 1rem !important;
}

.purple-gradient
{
    background: linear-gradient(40deg, #8c81c0, #5648a1) !important;
}


/* FORMULARIO LOGIN BACKOFFICE */
.div-container-login-backoffice {
    background-color: #1d2331;
    position: absolute;
    height: 100%;
    width: 100%;
}

.container-login-backoffice {
    background-color: #f8f9fa;
    position: relative;
    height: 450px;
    width: 30%;
    margin: 10% auto;
}

@media(max-width: 400px){
    .container-login-backoffice {
        margin-top: 80px;
        width: 90%;
    }
}

.btn-login-backoffice {
    background-color: #6657b0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 90px;
    height: 63px;
    font-size: 25px;
    font-family: sans-serif;
}

.logo_stop-backoffice {
    display: block;
    height: 150px;
    margin: 0 auto;
}

.rightArrow-backoffice {
    margin-left: 17px;
    margin-top: -3px;
    height: 25px;
}


.form-login-back {
    padding: 0;
}

.sem-cadastro-login {
    display: block;
    margin-left: auto;
    margin-right: 23px;
    color: #0064fa;
    width: fit-content;
}