.inputBkofc {
    display: block;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.botao {
    margin-right: 20px;
}

.botoes {
    margin-left: auto;
    width: fit-content;
}

.bck--container {
    position: relative;
    display: block;
}

.backContainer {
    margin: 10px;
}

.bkfcTitulo {
    margin: 25px 60px;
    padding-bottom: 10px;
    width: 100%;
    border-bottom: 1px solid rgba(106, 106, 107, 0.5);
}

.sidenav---sidenav---_2tBP {
    position: fixed !important;
}

.selectClass {
    width: 220px;
}