.inputBkofc {
    display: block;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.botao {
    margin-right: 20px;
}

.botoes {
    margin-top: 15px; 
    margin-bottom: 15px;
    margin-left: auto;
    width: fit-content;
}

.bck--container {
    position: relative;
    display: block;
}

.logo_stop_menu_bkfc {
    height: 50px;
}

.backContainer {
    margin: 10px;
}

.bkfcTitulo {
    margin: 25px 60px;
    padding-bottom: 10px;
    width: 100%;
    border-bottom: 1px solid rgba(106, 106, 107, 0.5);
}