.home-container {
    padding: 20px 50px;
}

.home-grid {
    padding: 0;
    border: solid 1px #bab1eb;
    box-shadow: 12px 7px 55px #cac3d2;
}

.home-grid-match {
    max-height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.home-grid-login {
    padding-right: 50px;
}


.homeBanner
{
    width: 100%;
    max-height: 345px;
    margin-bottom: 20px;
}

.homeimgbanner
{
    width: 100%;
    max-height: 345px;
}


.imgPerfil {
    display: block;
    text-align: center;
}

.tblGridHeader {
    background-color: #5b32bc;
    text-align: left;
    font-size: 30px;
    font-family: sans-serif;
    padding: 10px;
    color: #fff;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: bold;
    font-weight: 400;
    text-shadow: 0 0 10px rgba(255,255,255,.7);
}

.purple-color {
    background-color: #6657b0 !important;
    color: white;
}

.tblTitle {
    text-align: left;
    font-size: 30px;
    font-family: sans-serif;
    margin: 6px 0 0 37px;
    padding: 0;
    color: #fff;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: bold;
    width: 350px;
    font-weight: 400;
    text-shadow: 0 0 10px rgba(255,255,255,.7);
}

.colTbl {    
    text-align: center;
    cursor: pointer;
}

.colTblActive {
    background-color: rgb(170, 194, 238);;
    color: #fff;
    text-shadow: 0 0 10px rgba(255,255,255,.7);
}

.btnJogar {
    float: right;
    font-size: 17px;
    font-weight: bold;
}

.btn-login-home {
    height: 70px;
}

.iconCircle {
    border: solid 2px #bab1eb;
    border-radius: 50% !important;
    padding-top: 4px;
    width: 25px;
    height: 25px;
    font-size: 20px;
    border-radius: 20px;
    vertical-align: middle;
}

.iconTbl .fa {
    margin-left: 0px !important;   
}

.iconTbl-info {
    margin-left: 25%;
}

.iconTbl {
    margin-top: 5px;
    font-size: 20px;
    display: inline-block;
    border-radius: 10em;
    border: 2px solid #aa66cc;
    background-color: #fff;
    vertical-align: middle; 
    line-height: 28px !important;
    padding-bottom: 10px;
    text-align: center;
    width: 50px;
    height: 30px;
    cursor: pointer;
    transition: 0.3s;
}

.iconTbl:hover {
    border-color: rgb(170, 194, 238);
    color: rgb(170, 194, 238);
}

.roundedBtn {
    border-radius: 10em;
}

.label-margin {
    margin: 0 10px;
}

.slider {
    margin-left: 20px;
}

.tblCategory, .tblCategory th, .tblCategory tr, .tblCategory td {
    padding-left: 5px;
    padding-right: 0;
}

.hidden {
    display: none;
}

.show {
    display: block;
}

.validacao {
    color: #fd3030;
}