.login-body {
    height: 100%;
    margin: 0;
    justify-content: center;
    align-items: center;
}

.login-card {
    width: 325px;
    height: 350px;
    margin: 75px 30px;
}

.login-alert {
    position: absolute;
    z-index: 100;
    top: 0%;
    right: 0%;
    margin: 20px;
}