.background {
    background-color: #f4f4f7;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 43%;
    height: 100%;
    z-index: -1;
}

.match-margin {
    margin: 35px 0;
}

.btn-rounded {
    border-radius: 10em;
    width: 120px;
}

.circle-letter {
    color: #fff;
    margin: 0 10%;
    background-color: #512da8;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: inline-block;
}

.circle-clock {
    display: inline-block;
    color: #a2a2a3;
    background-color: #f4f4f7;
    border: 1px solid #a2a2a3;
    border-radius: 10em;
    -webkit-border-radius: 10em;
    padding: 5px 15px;
}

.circle-clock.hide {
    background-color: #a2a2a3;
}

.text-style {
    font-size: 40px;
    text-align: center;
}

.text-style-clock {
    font-weight: bold;
    font-size: x-large;
    text-align: center;
}

.text-style-label {
    font-weight: bolder;
    font-size: large;
    text-align: center;
    color: #a2a2a3;
}

.custom-input {
    background-color: #f4f4f7;
    color: #a2a2a3;
    border-radius: 25px;
    display: inline-block;
}

.custom-button {
    padding: 5px;
    clip-path: polygon(0 2%, 100% 1%, 100% 71%, 51% 100%, 0 71%);
}

.custom-label {
    width: 100%;
    height: 100%;
    background-color: #fff;
    box-shadow: 10px 17px 85px -18px #000;
    border-radius: 25px;
    display: inline-block;
    padding: 7px;
    font-weight: bold;
}

.text-aling {
    text-align: center;
}

.default-aling {
    margin: 30px 0;
    text-align: center;
}

.default-margin {
    margin: 0 15px;
}

@media only screen and (max-width: 768px) {
    .default-margin {
        margin: 0;
    }

    .custom-button {
        padding: 10px;
        margin: 5px;
    }

    .text-aling {
        margin: 15px 0;
    }

    .background {
        background-color: #fff;
    }

    .text-style-clock {
        margin: 20px;
    }

    .responsive-aling {
        text-align: center;
    }

    .custom-label {
        box-shadow: 10px 17px 85px -16px #000;
    }
}