.sidenav {
    height: 100%;
    width: 90px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #6657b0;
    overflow-x: hidden;
    padding-top: 100px;
}

.sidenav a {
    text-decoration: none;
    font-size: 35px;
    color: #fff;
    display: block;
    padding: 10px 25px;
}

.sidenav a:hover {
    color: #f1f1f1;
}