.menu-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 20px;
}

.menu-list-item {
    list-style: none;
    border: solid #fff 1px;
    width: 90px;
    cursor: pointer;
    text-align: center;
}